- if @result[:status]
  :plain
    $("#article_comment_content").val('');
    $('#no_comments').remove();
    $('#error_message').html("");
    $("#{escape_javascript(render partial: 'articles/comment', locals: {comment: @comment})}").insertBefore('#paginate');
- else
  :plain
    $('#error_message').html("#{@result[:message]}");