/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require _font-awesome
 *= require _font-awesome-ie7.min
 *= require markdown-toolbar
 *= require social-share-button
 */
.body_content {
    margin-top: 60px;
}
.nav li a {
    display: block;
    position: relative;
}
.site-header .navbar-nav li {
    margin-left: 20px;
}
.site-header .navbar-button li {
    float: left;
}
.site-header .navbar-button li a {
    width: 80px;
    margin-top: 7px;
}
ul {
    list-style: none outside none;
}
#keyword {
    width: 200px;
}

.navbar-avatar img {
    margin-top: 4px;
    margin-right: 2px;
    width: 40px;
    height: 40px;
}

.active a {
    color: #428bca !important;
    background-color: #eeeeee !important;
}

#article_content {
    height: 400px;
}


.article_content {
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #ffffff;
    margin-top: 10px;
    padding: 5px 20px 5px 20px;
}

.article_content p {
    height: 25px;
    line-height: 25px;
    font-size: 13px;
}

.article_des {
    min-height: 100px;
    display: block;
    margin-bottom: 30px;
}

.sidebar {
    padding-left: 50px !important;
}

body {
    background-color: #f5f5f5 !important;
}

.label {
    padding: 4px 10px 4px 10px !important;
    margin-right: 10px !important;
}

.article_content p {
    margin-top: 20px;
}

.article_content h3 {
    font-size: 23px;
    color: green;
}

p .icon {
    margin-right: 20px;
}

.sub-tab a {
    margin-left: 10px;
}

.sub-tab a:hover {
    text-decoration: none;
}

.sort_navbar {
    margin-top: 25px;
}

.sort_navbar a.current {
    color: #666666;
}

#search_button {
    color: #666666;
}

#search_button a:hover{
    cursor: hand;
    text-decoration: none !important;
}

.article-title {
    color: #666666;
}

a .icon {
    text-decoration: none;
}

a.disabled {
    color: #333333;
}

a.disabled:hover {
    color: #333333;
    cursor: none;
}

h3 .icon {
    font-size: 18px;
    margin-left: 15px;
}

#article_comment_content {
    height: 200px;
}

.comment_content {
    margin-left: 20px;
}

.comment_content img{
    max-width: 100%;
}

.comment_footer {
    padding-right: 40px;
}

.comment_footer a {
    font-size: 18px;
}

.comment_footer a {
    margin-left: 8px;
}

.panel-body {
    padding: 15px 30px 15px 30px !important;
}

.markdown-toolbar-panel {
    padding-left: 5px !important;
    width: 100% !important;
    max-width: 100% !important;
    height: 30px !important;
    line-height: 30px !important;
}

.markdown-toolbar-panel .mdt_buttons div {
    margin-right: 7px !important;
    margin-top: 5px !important;
}

.error {
    color: red;
}

.set_title {
    margin-left: 20px;
}

#set_user_avatar {
    margin-bottom: 10px;
    max-width: 100px;
}

.avatar-field {
    margin-top: 30px;
}

.set-btn {
    padding: 10px 40px !important;
}

.blog-description {
    height: 200px !important;
}

.footer {
    height: 80px;
    line-height: 80px;
}

.comment_avatar img {
    max-width: 80px;
}

.new_comments li {
    margin-top: 10px;
}





